html
	head
		title= "Financial planner - HOME"
		//- link(rel='stylesheet', href='/static/main.css')
		//- link(rel='stylesheet', href=__dirname+'static/main.css')
		link(rel='stylesheet', href='styles.css')
	body
		div
			h1 Welcome to your financial planner.
			h3 How may we assist you today?
			ul
				li 
					a(href="inputplan") Help you calculate your future finance situation